.primary-title {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.primary-title-h1 {
  font-size: 28px;
  color: black !important;
}
.primary-title-h1 span {
  color: var(--main-color);
}
.header-white {
  color: white;
  display: inline-block;
}
