.schedule {
  background-image: url(../../assets/img/schedule-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
ul li {
  color: white;
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 14px;
}
li.active {
  color: var(--main-color);
}
li:hover {
  color: var(--main-color);
}
table {
  border-collapse: collapse;

  width: 100%;
}
@media screen and (min-width: 768px) {
  table {
    margin: auto;
    width: 80%;
  }
}
td {
  text-align: center;
  font-size: 12px;
  border: 1px solid white;
  color: white;
  padding: 20px 0;
}
